html(lang="en")
  head
    include partials/head.pug
  body
    include partials/header.pug

    #hero-image
      h1#hero-title= title

    #posters-wrapper.content-padding.clearfix
      - for (var i = 0; i < movies.length; i++)
        .poster
          a(href=`/star_wars_episode/${ movies[i].episode_number }`)
            img(src=`/images/${ movies[i].poster }` class="img-responsive")

            .poster-info-overlay
              h3= movies[i].title
              h4 View More 
                i.fa.fa-arrow-right

    include partials/footer.pug
    include partials/scripts.pug