html(lang="en")
  head
    include partials/head.pug
  body
    include partials/header.pug

    #hero-image-notFound
      h1#hero-title= title

    include partials/footer.pug
    include partials/scripts.pug